{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Contato:</h1>
        <h2>Empresa: Técnica LE Automação e Projetos Elétricos Ltda.</h2>
        <h2>email: tecaut@onda.com.br</h2>
        <h2>Telefone 1: (41) 3018-9787</h2>
        <h2>Telefone 2: (41) 3026-6898</h2>
        <h2>Endereço: Rua Desembargador Westphalen, 868, Sala 1104 - Rebouças, Curitiba - PR, 80230-100</h2>
        <h2>CNPJ: 02.977.596/0001-00</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d757.4252690072775!2d-49.26940257972072!3d-25.4402000059878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce465f99bacbb%3A0xdde1d8320ea4ab64!2sTecaut%20Automa%C3%A7%C3%A3o%20e%20Projetos%20El%C3%A9tricos!5e0!3m2!1spt-BR!2sbr!4v1674672488251!5m2!1spt-BR!2sbr" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}